@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.dragon-web-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #1a1a1a; /* Темный фон */
  color: #fff;
  text-align: center;
}

.image-container {
  position: relative;
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.header-image {
  width: 50%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 15px 15px rgba(26, 26, 26, 0.7);
  margin: 0;
}

.header {
  margin-bottom: 20px;
}

.header h1 {
  font-size: 3em;
  margin: 0;
  animation: blink 2s infinite;
}

.header h2 {
  font-size: 2em;
  margin: 10px;
  color: #459045;
  animation: blink 2s infinite 1s;
  transition: color 0.3s ease;
}

.menu-button {
  padding: 20px 40px;
  font-size: 2em;
  color: #fff;
  background-color: #041e25;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: blink 2s infinite 2s, colorChange 2s infinite 2s;
  margin-top: 40px;
}

.menu-button:hover {
  background-color: #1e4f5e;
}

.next-button {
  margin-top: 40px;
  padding: 20px 40px;
  font-size: 2em;
  color: #fff;
  background-color: #1e4f5e;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: blink 2s infinite 1s;
  transition: color 0.3s ease;
}

.menu-button {
  background-color: #0a5029;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: blink 2s infinite 2s, colorChange 2s infinite 2s;
}

/* Добавление адаптивности */
@media (max-width: 1200px) {
  .header h1 {
    font-size: 2.5em;
  }

  .menu-button, .next-button {
    font-size: 1.8em;
    padding: 15px 30px;
  }

  .header-image {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 2em;
  }

  .menu-button, .next-button {
    font-size: 1.5em;
    padding: 10px 20px;
  }

  .header-image {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.8em;
  }

  .header h2 {
    font-size: 1.5em;
  }

  .menu-button, .next-button {
    font-size: 1.2em;
    padding: 8px 16px;
  }

  .header-image {
    width: 35%;
  }
}
