.MainMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1c1c; /* Глубокий чёрный фон */
    padding: 20px;
    margin: 0 20px;
    min-height: 100vh;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 69, 0, 0.5); /* Красная тень */
}

.components {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 100%; /* Ограничение ширины */
    padding: 0 10px; /* Отступы по бокам */
    box-sizing: border-box;
}

.component {
    background-color: #2f2f2f; /* Стальной серый фон */
    border: 3px solid #ff4500; /* Красный контур */
    border-radius: 10px;
    padding: 10px; /* Уменьшение отступов */
    text-align: center;
    box-shadow: 0 4px 8px rgba(255, 69, 0, 0.5); /* Красная тень */
    transition: transform 0.2s, box-shadow 0.2s;
}

.component:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 69, 0, 0.7); /* Углубляем тень */
}

.component img {
    max-width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #e63946; /* Более яркий красный контур */
}

.component h2 {
    color: #ff6347; /* Красный цвет текста */
    margin: 10px 0;
    font-size: 1.2em;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.quantity-controls button {
    background-color: #292929; /* Углубляем чёрный тон */
    color: #ff4500; /* Яркий красный текст */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.quantity-controls button:hover {
    background-color: #2f2f2f; /* Стальной серый фон */
    transform: scale(1.05);
}

.quantity-controls input {
    margin: 0 10px;
    padding: 5px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 60px;
    text-align: center;
}

.component button {
    background-color: #292929; /* Углубляем чёрный тон */
    color: #ff4500; /* Яркий красный текст */
    border: none;
    padding: 7px 7px; /* Увеличенный размер кнопки */
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.2em; /* Увеличенный размер текста */
    transition: background-color 0.2s, transform 0.2s;
}

.component button:hover {
    background-color: #2f2f2f; /* Стальной серый фон */
    transform: scale(1.05);
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    .components {
        grid-template-columns: repeat(2, 1fr); /* Две колонки на мобильных устройствах */
    }
}
